.header {
    top: 0;
    display: flex;
    align-items: center;
    background-color: white; 
    height: 70px; 
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    margin: auto;
}

.header .header-logo {
    position: fixed;
    display: flex;
    background: url('../images/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: content-box;
    width: 150px;
    height: 50px;
}

main {
    flex: 1
}