body {
    display: flex;
    flex-wrap: wrap; 
    flex-direction: column; 
    margin: 0; 
    padding: 0; 
    min-height: 100vh;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
}